name: Latest blog post workflow
on:
  workflow_dispatch:
  schedule:
    # Runs every Sunday at 00:00 AM UTC
    - cron: '0 0 * * 0'
jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "5"
          feed_list: "https://apoorvtyagi.tech/rss.xml"
